@import "/src/styles/variables";

.filter-group {
    .nav-link,
    button {
        color: $blueDark;
        --bs-nav-link-color: $blueDark;
        font-weight: bold;
        &:hover {
            color: $limeGreen;
        }
        &:active {
            background-color: $blueLight;
            color: $blueDark;
        }
    }
}

.filter-clear-button {
    color: $blueDark;
    font-weight: bold;
    i {
        cursor: pointer;
    }
}

.search-group {
    &.input-group {
        background-color: #fff;
        border-radius: 10px;
        width: 100%;
        @media (min-width: 992px) {
            width: 40%;
        }
    }

    input#filter-search {
        border: 0;
        border-bottom: none !important;
        background-color: transparent !important;
    }
}

.navbar-nav {
    gap: 10px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    background-color: $blueLight;
    margin-top: -2px;
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    .dropdown-item {
        &:hover {
            background-color: $blueDark;
        }
    }
}

a[aria-expanded="true"] {
    background-color: $blueLight;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    &:hover {
        color: $blueDark !important;
    }
}
