<div class="card shadow h-100">
    <div class="card-header align-content-center" [ngClass]="{ 'card-selected': selected }">
        <div
            *ngIf="credentialSpinner == false"
            class="d-flex gap-2 align-items-center fw-light justify-content-between"
        >
            <div class="d-flex gap-2 align-items-center">
                <a
                    (click)="shareCredential(credential.verifiableCredentialId, credential.name)"
                    title="Share This Credential"
                >
                    <fa-icon
                        [ngClass]="{ 'text-blueDark': selected, 'text-white': !selected }"
                        [icon]="faShare"
                        size="lg"
                    ></fa-icon>
                </a>
                <span *ngIf="credential.shareCount > 0" class="fw-light"> {{ credential.shareCount }} shares </span>
            </div>
            <!-- don't show delete if in select mode (within collections)-->
            <div *ngIf="!showSelect && credential.canDelete && showDelete" class="d-flex gap-2 align-items-center">
                <a role="button" id="btnDeleteIcon" (click)="handleDelete()">
                    <fa-icon class="text-white" [icon]="faTrash" size="lg"></fa-icon>
                </a>
            </div>
            <div *ngIf="showSelect" class="d-flex gap-2 align-items-center">
                <div
                    class="gap-2 align-items-center fw-bold"
                    [ngClass]="{ 'd-flex': showSelect, 'd-none': !showSelect }"
                >
                    <span>Add </span> <input type="checkbox" [checked]="selected" (click)="toggleCardSelected()" />
                </div>
            </div>
        </div>
    </div>

    <div class="card-body d-flex flex-column flex-md-row bg-white rounded">
        <div *ngIf="credentialSpinner == true; else displayDetails" class="d-flex flex-column flex-grow-1">
            <app-spinner id="credential-card-details-spinner" [message]="'Loading credential'"></app-spinner>
        </div>
        <ng-template #displayDetails>
            <div class="d-flex flex-column gap-3 col-12 col-md-6 p-4">
                <div>
                    <section class="clr-section">
                        <div class="d-flex gap-2 align-items-center">
                            <div class="badge-img-container align-self-start" *ngIf="!!credential.effectiveImageUrl">
                                <img
                                    class="rounded-circle img-fluid"
                                    src="{{ credential.effectiveImageUrl }}"
                                    alt="credential badge photo"
                                />
                            </div>
                            <div class="align-self-start">
                                <div class="mb-1 font-size-xs text-grayBase">
                                    <div
                                        *ngIf="credential.isVerified && !credential.isRevoked"
                                        class="d-flex gap-1 align-items-center"
                                    >
                                        <fa-icon
                                            class="text-blueDark"
                                            [icon]="faShieldCheck"
                                            title="The credential is unaltered and has a verified issuer signature."
                                        ></fa-icon>
                                        Verified
                                    </div>
                                    <div
                                        *ngIf="!credential.isVerified && !credential.isRevoked"
                                        class="d-flex gap-1 align-items-center"
                                    >
                                        <fa-icon
                                            class="text-blueDark"
                                            [icon]="faExclamationCircle"
                                            title="The credential has a missing or unverified issuer signature."
                                        ></fa-icon>
                                        Not Verified
                                    </div>
                                    <div *ngIf="credential.isRevoked" class="d-flex gap-1 align-items-center">
                                        <fa-icon
                                            class="text-blueDark"
                                            [icon]="faBan"
                                            title="Contact issuer for verification."
                                        ></fa-icon>
                                        Needs Verification
                                    </div>
                                </div>
                                <h2 class="text-blueDarkest line-clamp-3" title="{{ credential.name }}">
                                    {{ credential.name }}
                                </h2>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="font-size-sm">
                    <div *ngIf="!!credential.humanCode" class="font-size-sm fw-bold mb-1">
                        {{ credential.humanCode }}
                    </div>
                    <div class="font-size-xs text-grayBase">
                        {{ credential.achievementType }}
                    </div>
                    <div *ngIf="!!credential.description" class="line-clamp-3">
                        {{ credential.description }}
                    </div>
                </div>
                <div>
                    <span
                        *ngIf="!!credential.achievementIdUrl"
                        class="font-size-xs fw-bold text-uppercase text-blueDarkest"
                    >
                        <a [href]="credential.achievementIdUrl" target="_blank">
                            <fa-icon class="text-limeGreen" [icon]="faInfoCircle" size="lg"></fa-icon>
                            Achievement Definition
                        </a>
                    </span>
                </div>
            </div>

            <div class="bg-blueLightest col-12 col-md-6 gap-2 h-fit-content p-4 rounded-bottom">
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-column">
                        <span class="d-block font-size-xs">Recipient: </span>
                        <span class="font-size-xs fw-bold">{{ credential.recipientName }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="font-size-xs">Issuer: </span>
                        <span class="font-size-xs fw-bold">{{ credential.issuerName }}</span>
                    </div>
                    <div class="d-flex flex-column" *ngIf="!!credential.licenseNumber">
                        <span class="font-size-xs">License #: </span>
                        <span class="font-size-xs fw-bold">{{ credential.licenseNumber }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="font-size-xs">Effective Date: </span>
                        <span class="font-size-xs fw-bold">{{ credential.effectiveAt | date: "MMM d, yyyy" }}</span>
                    </div>
                    <div class="d-flex flex-column" *ngIf="!!credential.expiresAt">
                        <span class="font-size-xs" [ngClass]="{ expired: isDateInThePast(credential.expiresAt) }"
                            >{{ isDateInThePast(credential.expiresAt) ? "Expired" : "Expiration Date" }}:
                        </span>
                        <span
                            class="font-size-xs fw-bold"
                            [ngClass]="{ expired: isDateInThePast(credential.expiresAt) }"
                            >{{ credential.expiresAt | date: "MMM d, yyyy" }}</span
                        >
                    </div>
                    <div class="d-flex flex-column">
                        <span class="font-size-xs">Scores: </span>
                        <span class="font-size-xs fw-bold">
                            <div *ngIf="!credential.results || credential.results.length == 0">None</div>
                            <div class="d-flex flex-row flex-wrap gap-2">
                                <div
                                    *ngFor="let result of credential.results; let last = last"
                                    class="pe-2"
                                    [ngClass]="{ 'border-end': !last }"
                                >
                                    <span>{{ result.value }} </span>
                                    <span *ngIf="result.status != 'Unspecified'"> ({{ result.status }})</span>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="font-size-xs">Alignments: </span>
                        <span class="font-size-xs fw-bold">
                            {{ credential.alignments.length }}
                            <a class="text-uppercase p-2" (click)="toggleAlignmentDetails()">{{
                                showAlignmentDetails === true ? "Hide" : "View"
                            }}</a>
                            <ng-container *ngIf="showAlignmentDetails === false; else alignmentDetailsSection">
                            </ng-container>
                            <ng-template #alignmentDetailsSection>
                                <div class="d-flex flex-column mt-2">
                                    <ul *ngFor="let alignment of credential.alignments">
                                        <li>
                                            <a [href]="alignment.targetUrl" target="_blank">
                                                {{ alignment.targetName }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </span>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="card-footer">
        <div *ngIf="credentialSpinner == false" class="d-flex gap-2 justify-content-around mt-1">
            <button
                type="button"
                class="btn btn-credential-card w-100"
                [disabled]="documentSpinner || !credential.hasEvidence"
                (click)="viewDocument(credential)"
            >
                <fa-icon class="me-2" [icon]="faFile" size="lg"></fa-icon>
                {{ credential.hasEvidence ? "View Document" : "No Document Available" }}
                <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    *ngIf="documentSpinner"
                    aria-hidden="true"
                ></span>
            </button>
        </div>
    </div>
</div>
