<footer *ngIf="showFooter" class="footer text-muted">
    <div
        id="theBottom"
        class="d-flex flex-column gap-3 flex-md-row md-gap-0 align-items-center justify-content-between bg-white px-md-5 py-3"
    >
        <div class="d-flex gap-2 align-items-center">
            <img src="/assets/images/kystats_logo.png" alt="KY Stats Logo" class="footer-logo-image" />
            <span class="font-size-sm">Powered by PCG and Level Data</span>
        </div>
        <div>
            <span class="copyright">&copy;{{ currentYear }} Learning & Employment Wallet</span>
        </div>
    </div>
</footer>
