@import "/src/styles/variables";

@media (min-width: 768px) {
    .close-modal {
        position: absolute !important;
        right: -55px !important;
        margin-top: -55px !important;
        background-color: $whiteBase;
        color: $blueDark;
        border-radius: 9999px;
        padding: 10px 14px;
        border: 0px;
    }
}

.close-modal {
    position: fixed;
    right: 20px;
    background-color: $whiteBase;
    color: $blueDark;
    border-radius: 9999px;
    padding: 10px 14px;
    border: 0px;
}
