<div class="notice-container p-5">
    <div class="row justify-content-center"><span class="h1">Open Credential Publisher Learning & Employment Wallet FAQ</span></div><br/><br/>


    <span class="h2">GENERAL</span><br/><br/>

<p><span class="fw-bold">What kind of credentials can I import into Open Credential Publisher Learning & Employment Wallet?</span><br/>
  Currently you can import any credentials that adhere to an Open Badge or Comprehensive Learner Record format.</p>

  <p><span class="fw-bold">What does it mean when a credential is Verifiable?</span><br/>
A verifiable credential means that the issuing organization can programmatically prove they issued the credential to you.  This step is similar to a university seal and allows others to believe the veracity of the assertions made by the credential.</p>

<p><span class="fw-bold">Can credentials in Open Credential Publisher Learning & Employment Wallet be seen by anyone else? </span><br/>
No. Credentials are your property and the contents of those credentials cannot be viewed unless explicitly shared by you. </p>

<p><span class="fw-bold">What happens if one of my credentials expires? </span><br/>
The credential will still show up in your Open Credential Publisher Learning & Employment Wallet but will not be able to be verified and will show an expiration date. </p>

</div>
